<!DOCTYPE html>
<html>


	
<head>

	<meta charset="utf-8">

	<title>

		课后网自动签到拓展模块

	</title>

</head>

<body>

    <h2>
        功能
    </h2>

    <p>
        <a href="/records">
            查看日志
        </a>
    </p>

    <p>
        <a href="/shot">
            遥控截图
        </a>
    </p>

    <p>
        <a href="/rmsrecords">
            查看截图
        </a>
    </p>

    <p>
        <a href="/start">
            启动签到
        </a>
    </p>

</body>

</html>